@model WebReq_V1.Models.Requisicao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requisicao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clientes.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Solicitantes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Solicitantes.Ddd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produtos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produtos.Nome)
        </dd>
    </dl>
</div>


<p>
    <div class="form-group">
        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
        <a class="btn btn-primary" asp-action="Index">Voltar</a>
    </div>
</p>
